<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="card shadow p-4" style="max-width: 400px; width: 100%;">
    <h4 class="card-title text-center mb-3">Login</h4>
    <div class="card-body">
      <form (ngSubmit)="login()">
        <div class="mb-3">
          <label for="email" class="form-label">Usuário</label>
          <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email" required />
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Senha</label>
          <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password" required />
        </div>

        <div class="d-grid gap-2">
          <div class="text-center mt-2">
            <a href="#" (click)="forgotPassword()" class="text-decoration-none">Esqueci minha senha</a>
          </div>
          <button type="submit" class="btn btn-primary">Entrar</button>
          <button type="button" class="btn btn-outline-secondary" (click)="register()">Criar conta</button>
          <button type="button"
            class="btn btn-outline-secondary w-100 d-flex align-items-center justify-content-center gap-2"
            (click)="loginWithGoogle()">
            <img src="https://img.icons8.com/color/24/000000/google-logo.png" alt="Google logo" />
            <span>Entrar com Google</span>
          </button>
        </div>
      </form>



    </div>

  </div>
</div>