<app-post-sidebar #postSidebar [postToEdit]="selectedPost"></app-post-sidebar>
<section class="row">
  <!-- Calendário com ngClass condicional -->
  <div [ngClass]="openPreview ? 'calendar-page col-12 col-md-8' : 'calendar-page col-12 col-md-12'">
    <button class="btn btn-primary" (click)="this.postSidebar.open();">Agendar nova postagem</button>
    <app-calendar [events]="events" (dateSelected)="onEventClicked($event)"></app-calendar>
  </div>

  <!-- Sidebar só aparece quando openPreview for true -->
  <div *ngIf="openPreview" class="col-12 col-md-4">
    <app-mock-posts [post]="openPost" (edit)="openSidebarToEdit()" (closePreview)="closePreview()"
      (deletePost)="openDeleteConfirmationModal($event)" />
  </div>
</section>

<!-- Modal de Confirmação -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded-3 shadow">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteLabel">Confirmar exclusão</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <div class="modal-body">
        Tem certeza que deseja excluir este post?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="delete()">Sim, excluir</button>
      </div>
    </div>
  </div>
</div>