<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="card shadow p-4" style="max-width: 400px; width: 100%;">
    <h4 class="card-title text-center mb-3">Novo usuário</h4>
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="register()" novalidate>
        <!-- Email -->
        <div class="mb-3">
          <label for="email" class="form-label">E-mail</label>
          <input type="email" class="form-control" id="email" formControlName="email"
            [class.is-invalid]="form.get('email')?.invalid && form.get('email')?.touched" />
          @if (form.get('email')?.errors?.['required']) {
          <div class="invalid-feedback">
            E-mail é obrigatório.
          </div>
          }
          @if (form.get('email')?.errors?.['email']) {
          <div class="invalid-feedback">
            E-mail inválido.
          </div>
          }
        </div>

        <!-- Senha -->
        <div class="mb-3">
          <label for="password" class="form-label">Senha</label>
          <div class="input-group">
            <input [type]="showPassword ? 'text' : 'password'" class="form-control" placeholder="Senha"
              formControlName="password" id="password" />
            <button type="button" class="btn btn-outline-secondary" (click)="togglePasswordVisibility()">
              <i [class]="showPassword ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
            </button>
          </div>

          @if (form.get('password')?.errors?.['required']) {
          <div class="invalid-feedback d-block">
            Senha é obrigatória.
          </div>
          }
          @if (form.get('password')?.errors?.['minlength']) {
          <div class="invalid-feedback d-block">
            Mínimo de 6 caracteres.
          </div>
          }
        </div>

        <div class="mb-3">
          <label for="confirmPassword" class="form-label">Confirmar senha</label>
          <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword"
            [class.is-invalid]="form.get('confirmPassword')?.invalid && form.get('confirmPassword')?.touched" />
          @if (form.get('confirmPassword')?.errors?.['required']) {
          <div class="invalid-feedback">
            Confirmação é obrigatória.
          </div>
          }
          @if (form.hasError('passwordMismatch')) {
          <div class="invalid-feedback">
            As senhas não coincidem.
          </div>
          }
        </div>

        <div class="d-grid gap-2 mt-4">
          <button type="submit" class="btn btn-primary" [disabled]="form.invalid || isLoading">
            {{ isLoading ? 'Cadastrando...' : 'Cadastrar' }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>